name: CI

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    name: Test with Leaflet v2.x
    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --prefer-offline --frozen-lockfile

      - name: Run tests
        run: pnpm test
        timeout-minutes: 2

  test_v1:
    name: Test with Leaflet v1.x
    runs-on: ubuntu-latest

    strategy:
      matrix:
        leaflet-version:
          - '0.7'
          - '1.0'
          - '1.1'
          - '1.2'
          - '1.3'
          - '1.6'
          - '1.7'
          - '1.9'

    steps:
      - name: Checkout branch
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --prefer-offline --frozen-lockfile

      - name: Install leaflet ${{ matrix.leaflet-version }}
        run: pnpm add leaflet@~${{ matrix.leaflet-version }}

      - name: Run tests
        run: pnpm test:v1
        timeout-minutes: 2
